body{
    text-transform: uppercase;
}

/* Main Nav element*/
.customNav{
    margin: 0 auto;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Main list element*/
.mainNav{
    text-align: center;
    list-style: none;
    font-family: One Dot Condensed Bold,Arial Narrow,Arial,Helvetica,sans-serif;
    background-color: #006491;
    height: 30px;
    width: auto;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 15px;
    position: relative;
    left: -10px;
    bottom: 20px;
}

/* List tag*/
.item{
    font-weight: bold;
    display: inline;
    padding: 22px 10px;
    font-size: 13px;
}

 .item:hover{
    background-color: darkblue;
} 

a{
    color: #fff;
}

a:link{
    text-decoration: none;
}

#nearestLocation{
    border: 1px solid white;
    padding: 10px;
}

/* Nav logo */
.navLogo{
    width: 20px;
    height: 20px;
}

/* smart order div */
.smartOrder{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 30px;
}

/* Header in smartorder */
.orderInsideHeader{
    display: inline;
    color: #006491;
    font-size: 1.75rem;
    padding-right: 50px;
}

.smartButton{
    display: inline;
    background-color: #e31837;
    color: #fff;
    padding: 15px 35px;
    position: relative;
    bottom: 7px;
}

.betweenButton{
    color: #888;
    font-size: 1.775rem;
    padding: 0 .75rem;
    text-transform: lowercase;
    font-style: italic;
}

.promoImgs{
    display: flex;
    justify-content: center;
}

.innerPromo{
    display: flex;
    flex-direction: column;
}

#promoPicOne{
    margin: 10px;
}

#promoPicTwo{
    padding-top: 8px;
    margin-bottom: 12px;
}
